$colorBG: #fff;
$colorBGDark: #1f1f1f;
$colorBlack: #000;
$colorWhite: #fff;
$colorGray: #2f2f2f;
$colorSkillTitle: #1676de;
$colorSkillBottom: #5f5f5f;
$colorSeaBlue: #00C5D4;
$colorMenuBack: #000000E6;
$colorMenuBackDark: #4A4A4AE6;
$colorTitle: #ffa952;
$colorBody: #feffdf;
$colorBodyDark: #4f4f4f;
$colorHeaderBG: #F0E5B4CC;
$colorHeaderBGDark: #0C4197CC;
$colorAnchor: #0C4197;
$colorAnchorDark: #F2F060;
$colorSelect: #a6e7d6;
$colorSelectDark: #0c4197;
$colorButtonBG: #f9cba2;